/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COLORES */
:root {
    --negro: #0A0A0A;
    --rojo: #B11226;
    --azul: #111827;
    --blanco: #FFFFFF;
    --gris: #9CA3AF;
}


/* GENERAL */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--negro);
    color: var(--blanco);
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 60px;
    background-color: rgba(17, 24, 39, 0.95);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(223, 0, 0, 0.05);
}

.logo {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 40px;
    letter-spacing: 3px;
    color: var(--rojo);
}

.menu {
    list-style: none;
    display: flex;
    gap: 30px;
}

.menu a {
    text-decoration: none;
    color: var(--blanco);
    font-weight: 500;
    transition: 0.3s;
}

.menu a:hover {
    color: var(--rojo);
}

/* HERO */
.hero {
    height: 90vh;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
    url('../img/banner.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-text h2 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 70px;
    margin-bottom: 20px;
}

.hero-text p {
    font-size: 20px;
    margin-bottom: 30px;
}

.btn {
    background-color: var(--rojo);
    padding: 15px 40px;
    text-decoration: none;
    color: var(--blanco);
    font-weight: 600;
    border-radius: 50px;
    transition: all 0.4s ease;
    letter-spacing: 1px;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 25px rgba(177, 18, 38, 0.4);
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background-color: var(--azul);
}


/* SECCIÓN PRODUCTOS */
.productos {
    padding: 80px 10%;
}

.titulo-seccion {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 50px;
    margin-bottom: 40px;
    border-left: 5px solid var(--rojo);
    padding-left: 15px;
}

/* CONTENEDOR */
.contenedor-productos {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

/* TARJETAS */
.card {
    background-color: var(--azul);
    width: 280px;
    border-radius: 15px;
    overflow: hidden;
    transition: all 0.4s ease;
    box-shadow: 0 10px 30px rgba(0,0,0,0.4);
}

.card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.card h3 {
    padding: 15px;
    font-size: 18px;
}

.card p {
    padding: 0 15px 15px 15px;
    font-weight: bold;
    color: var(--gris);
}

.btn-card {
    display: block;
    text-align: center;
    background-color: var(--rojo);
    padding: 12px;
    text-decoration: none;
    color: var(--blanco);
    font-weight: 600;
    transition: 0.3s;
}

.btn-card:hover {
    background-color: #8f0f1e;
}

/* EFECTO HOVER PREMIUM */
.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 40px rgba(177, 18, 38, 0.3);
}


/* SECCIÓN NOSOTROS */
.nosotros {
    padding: 80px 15%;
    line-height: 1.8;
}

.nosotros p {
    margin-bottom: 40px;
    color: var(--gris);
    font-size: 18px;
}

/* SECCIÓN GALERÍA */
.galeria {
    padding: 80px 10%;
}

.grid-galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.img-box {
    overflow: hidden;
    border-radius: 15px;
}

.img-box img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    transition: transform 0.4s ease;
}

/* EFECTO HOVER PREMIUM */
.img-box:hover img {
    transform: scale(1.08);
}


/* SECCIÓN CONTACTO */
.contacto {
    padding: 80px 10%;
}

.contenedor-contacto {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
}

.formulario {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.formulario input,
.formulario textarea {
    padding: 15px;
    border-radius: 10px;
    border: none;
    background-color: var(--azul);
    color: var(--blanco);
    font-size: 16px;
}

.formulario input::placeholder,
.formulario textarea::placeholder {
    color: var(--gris);
}

.btn-form {
    background-color: var(--rojo);
    padding: 15px;
    border: none;
    border-radius: 30px;
    color: var(--blanco);
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.btn-form:hover {
    background-color: #8f0f1e;
    transform: translateY(-3px);
}

.info-contacto {
    flex: 1;
    background-color: var(--azul);
    padding: 30px;
    border-radius: 15px;
}

.info-contacto h3 {
    margin-bottom: 20px;
}
/* RESPONSIVE */

@media (max-width: 768px) {

    /* NAVBAR */
    .navbar {
        flex-direction: column;
        gap: 15px;
        padding: 20px;
        text-align: center;
    }

    .menu {
        flex-direction: column;
        gap: 15px;
    }

    /* HERO */
    .hero-text h2 {
        font-size: 45px;
    }

    .hero-text p {
        font-size: 16px;
    }

    /* PRODUCTOS */
    .contenedor-productos {
        justify-content: center;
    }

    .card {
        width: 90%;
    }

    /* GALERÍA */
    .grid-galeria {
        grid-template-columns: 1fr;
    }

    /* CONTACTO */
    .contenedor-contacto {
        flex-direction: column;
    }

    .formulario,
    .info-contacto {
        width: 100%;
    }

    /* NOSOTROS */
    .nosotros {
        padding: 60px 8%;
    }

}